.App {
  text-align: center;
}

.container{
  margin-top: 10vh;
  margin-left: 20vh;
  margin-right: 20vh;
}

.header{
  display: flex;
  justify-content: space-between;
  margin-left: 20vh;
  margin-right: 20vh;
}

.hotel{
  height: auto;
  width: auto;
  margin-top: 5vh;
  display: flex;
}

.lift{
  width: 20%;
  border: 1px solid black;
  margin-right: 5%;
  margin-top: 2vh;
}

.floors{
  display: flex;
  flex-direction: column-reverse;
}

.floor{
  display: flex;
  margin-top: 2vh;
}

.room{
  height: 5vh;
  width: 8vh;
  margin-right: 2vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center; 
}